/*  your css code here. If applicable */
body{
	margin:0;
	padding:0;
}
#container{
	display: flex;
}
nav{
	background-color: #D7E8D4;
	min-width: calc(100vw/6);
	padding:1em;
}
#main{
	display: flex;
	flex-direction: column;
	min-width: calc(5*100vw/6);
}
header,footer{
	background-color: yellowgreen;
	min-height: calc(100vh/5);
	padding:1em;
}
.content{
	display: flex;
	min-width: calc(4*100vw/5);
	min-height: 80vh;
}
.content > article{
	width: 75%;
	minheight: 60vh;
	padding:1em;
}
.content > aside{
	background-color:lightgray;
	width: 25%;
	minheight: 60vh;
	padding:1em;
}
