/*  your css code here. If applicable */
body{
	margin:0;
	padding:0;
}
#container{
	display: flex;
}
nav{
	background-color: #D7E8D4;
	width: 17vw;
	height: 100vh;
	padding:1em;
}
#main{
	display: flex;
	flex-direction: column;
	width: 83vw;
	height: 100vh;
}
header,footer{
	background-color: yellowgreen;
	height:20vh;
	width:100%;
	padding:1em;
}
#content{
	display: flex;
	height: 80vh;
}
#content > article{
	width: 62.25vw;
	minheight: 60vh;
	padding:1em;
}
#content > aside{
	background-color:lightgray;
	width: 20.75vw;
	minheight: 60vh;
	padding:1em;
}
